 

  .custom-select {
    font-size: 17px;
    min-width: 200px;
    border-left: 5px solid green;
    border-right: 5px solid green;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    box-shadow: none;
    
  }
  /* .custom-select:hover {
    border-left: 5px solid darkred;
     border-right: 5px solid darkred; 
  } */
    
  /* تخصيص القائمة المنسدلة */
  .custom-select-menu {
    font-size: 19px;
    z-index: 9999; 
       max-height: 100px; /* تحديد الحد الأقصى لارتفاع القائمة */
    overflow-y: auto;  /* لتحديد أولوية العرض */
  }
  
  /* تخصيص قائمة الخيارات */
  .custom-select-menu-List{
    max-height: 100px;  
    overflow-y: auto;  
  };


 