.menulist{     
    top: 90px;
    position: fixed;
    border: 2px solid #4a59a3ab;
    right: 0px;    
    background: ghostwhite;   
    padding: 5px;
    border-radius: 10px;
} 
.parent {
   border-style: solid;    
    border-image: initial;
    right: 0px;   
    background: ghostwhite;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}
.child {
  /* position: absolute; */
  position: fixed;
  width: 50%;
  max-width: 250px;
  min-width: 150px;
  /* height: 100%; */
  top: 0px;
  left: 0;
 z-index: 3;
 background-color: rgb(200, 221, 212);
 
 
}


 
