

.form{
    margin: auto;
    width: 100%;
    height: 80vh;
    /* background-image: */
    /* linear-gradient(110deg,
    white 0%,white 50%,transparent 50%),    
    url('../../img/login.png'); */
    background-position: center;
    background-size:  cover;
    /* background-repeat: no-repeat; */
    
    border-radius: 12px;
    box-shadow: 0 0  20px rgba(0,0,0,0.3);
    padding: 20px;
    border: 2px solid red;
}  
 


/* .custom-form{width: 50%;} */

.custom-form {
    margin-bottom: 20px;
    position: relative;

}

.custom-form label ,
.custom-form input {
    display: block;
}


.custom-form input{
    padding: 20px 20px;
    outline: none;
    border-radius: 3px;
    border: 0;
    background-color: white;
    width: 80%;
    border-bottom: 3px solid transparent;
    font-family:'Courier New', Courier, monospace;
    /* box-shadow: 0 0 10px gray inset; */
    box-shadow: 0 0 10px rgba(153,152,152)inset;
}
.custom-form input:focus{
    box-shadow: 0 0 10px rgba(153,152,152)inset;
}



.custom-form input:focus:valid{
    border-bottom: 3px solid green;
}

.custom-form input:focus:not(:valid){
    border-bottom: 3px solid orangered;
}
.custom-form input:placeholder-shown +label{
    opacity: 0;
    visibility: hidden;
    top: 20px;
}
.custom-form label{
    position: absolute;
    top: -20px;
    left: 0px;
    font-size: 13px;
    color: gray;
    font-weight: bold; 
    transition: 0.3s;

}

  @media(max-width:992px){
    .form{
      background-image:
      linear-gradient(
      rgba(255,255,255,0.8)0%,
      rgba(255,255,255,0.8)100%
      ),    
      /* url('../../img/login.png');  */
      

     }
    .custom-form{
      width: 100%;}
    
   .custom-form input{
    width: 100%;
   }
     
  }

