
.style_li{
    display: flex ;
    align-items: center;
    justify-content: center;
    background-color: white;
    width:30px;
    height:35px ;
    cursor:pointer;
    border: 1px solid gray;

    border-left:0;
    color: gray;
      

}

.hover-box {
    /* width: 200px;
    height: 100px; */
    background-color: white;
    text-align: center;
    /* line-height: 100px;
    font-size: 18px; */
    /* color: #333; */
    transition: background-color 0.3s ease, color 0.3s ease; /* تأثير ناعم للتغيير */
  }
  
  .styleOverLi{      
     position:fixed; 
     /* top: 35px;  */
     /* left: "50%";
     pa  */

     margin-top: 90px;
     /* padding-top: 70px; */
     /* transform: "translateX(-50%)"; */
    background-color:black ;     
    color: "white";
    /* padding: 5px; */
    border-radius: 5px;
            
     /* min-width:'100px';       */
    font-size:'14px'; 
    /* width:fit-content; */
    /* width:100%; */
     /* fontWeight:'bold';   */
     z-index: 100;
    
 } 
  .hover-box:hover {
    background-color: #333; /* لون الخلفية عند مرور الماوس */
    color: white; /* تغيير لون النص عند المرور */
  }


  table {
    width: 50%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
  tr:nth-child(odd) {
    background-color: #f2f2f2; /* لون الصفوف الفردية */
  }
  tr:nth-child(even) {
    background-color: white; /* لون الصفوف الزوجية */
  }